@{
    ViewData["Title"] = "About Us";
}

<section class="section-about pt-100">
    <div class="container pb-130 mt-25">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>About Stone Nature</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">

            <div class="col-lg-8 col-md-12 mt-20">
                <p>It’s a family passion that founded in 1989 Denizli, Turkey by the 1 st generation of the company.</p>
                <p>In the beginning it was small factory shop that makes cut to size and installation of the marble and travertine.</p>
                <p>By the time passes in 1996 family have started to work in its first travertine quarry located in Denizli and 2001 and 2003 they opened 2 more quarries in the same region.</p>
                <p>Family has been doing their travertine, marble and onyx exporting to more than 20 countries in the world since 1996. Over twenty five years later, the company remains within family with all members playing a key role.</p>
                <p>With acknowledging of production and mining of marble and stone Company’s 2 nd generation has decided to open their first location in Atlanta, USA on September,2016.</p>
                <p>That’s how Stones Nature inspiration has born.</p>
            </div>

            <div class="col-lg-4 col-md-12 mt-20">
                <img src="/images/about/img_1.jpg" alt="About Us">
            </div>

        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6 mt-60">
                <div class="header">
                    <h2>Our Care And Mission</h2>
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-lg-8 col-md-12 mt-20">
                <p>For over 25 years of family experience Stones Nature has taken pride in offering the finest natural stone products, sourced from locations across the globe.</p>
                <p>Stones Nature aim is to supply vast range of marble, travertine, limestone, onyx, quartz and mosaics in tile and slab to their commercial partners with the finest premium selections.</p>
                <p>Specialising in natural stone, we have developed a purpose built warehouse outlining our extensive product range.</p>
                @*<img class="mt-20" src="/images/about/img_3.jpg" alt="About Us">*@
            </div>
            <div class="col-lg-4 col-md-12 mt-20">
                <img src="/images/about/img_2.jpg" alt="About Us">
            </div>
        </div>
    </div>
</section>