@{
    ViewData["Title"] = "Our Projects";
}

<section class="section-products pt-100">
    <div class="container pb-130 mt-25">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>Our Projects</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <section id="showcase" class="showcase-area pt-10 pb-130">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="showcase-active">
                                <div class="single-showcase">
                                    <img src="/images/showcase/1_cbt.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Cascade Blend FP Paver & 4"x12"x2" Pool Coping Marietta,GA USA</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/2_cbt.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Cascade Blend Travertine</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/3_cbt.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Cascade Blend Travertine</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/4_itp.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Ivory Travertine</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/5_itp.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Ivory Travertine</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/6_lsp.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Shellstone / Limestone</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/7_lsp.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Shellstone / Limestone</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/8_bm.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Bianco Marble</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/9_lt.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Leonardo Travertine</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/10_new.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Noce & Walnut Travertine</div>
                                </div> <!-- single showcase -->
                                <div class="single-showcase">
                                    <img src="/images/showcase/11_st.jpg" alt="Testimonial">
                                    <div class="main-btn" style="cursor:default;">Silver Travertine</div>
                                </div> <!-- single showcase -->
                            </div> <!-- showcase active -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </section>

        </div>
    </div>
</section>